/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #00DBDE;
background-image: linear-gradient(50deg, #00DBDE 0%, #FC00FF 100%);

}

/* Contenedor de la landing */
.landing-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Contenedor de botones */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Estilo de los botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #25D366;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #128C7E;
}
